.floatL {
	float:left;
}
.marginT {
	margin-top:10px;
}
.marginT2 {
	margin-top:2px;
}
.marginT3 {
	margin-top:3px;
}
.marginL {
	margin-left:5px;
}
.marginL12 {
	margin-left:12px;
}
.padding7 {
	padding:7px;
}
.clear {
	clear:both;
	overflow:hidden;
	display:block;
}
.pClass {
	line-height:15px;
}
h7 {
	font:normal 10px Arial, Helvetica, sans-serif;
}
h8 {
	font:bold 16px Arial, Helvetica, sans-serif;
	color:#F60;
}
h9 {
	font:bold 16px Arial, Helvetica, sans-serif;
	color:#063;
}
.colorG {
	color:#7eb014;
}
.colorO {
	color:#ffb804;
}
.colorB {
	color:#0186d9;
}
.aClass a {
	text-decoration:underline;
}
.aClass a:hover {
	text-decoration:none;
}
.form-text150 {
	margin:0;
	font:12px/1.5 Helvetica, Arial, sans-serif;
	height:18px;
	width:150px;
}
.form-text150, textarea, select {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	padding:4px;
}
.form-text150, textarea {
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.form-text380 {
	margin:0;
	font:12px/1.5 Helvetica, Arial, sans-serif;
	height:18px;
	width:380px;
}
.form-text380, textarea, select {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	padding:4px;
}
.form-text380, textarea {
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
.form-text60 {
	margin:0;
	font:12px/1.5 Helvetica, Arial, sans-serif;
	height:18px;
	width:60px;
}
.form-text60, textarea, select {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	padding:4px;
}
.form-text60, textarea {
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
#sidebar {
	width:280px;
	float:left;
}
#sidebar li {
	display:block;
	overflow:hidden;
	clear:both;
	margin-bottom:3px;
}
.nav1 {
	float:right;
}
.nav1 .navL1 {
	background:url(images/saidBarL1.jpg) no-repeat;
	width:7px;
	height:58px;
	float:left;
}
.nav1 .navM1 {
	float:left;
	background:#3d6c36;
	height:58px;
}
.nav1 .navM1 a {
	color:#fff;
	font:normal 14px Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.nav1 .navR1 {
	background:url(images/saidBarR1.jpg) no-repeat;
	width:7px;
	height:58px;
	float:left;
}
.nav2 {
	float:right;
}
.nav2 .navL2 {
	background:url(images/saidBarL2.jpg) no-repeat;
	width:7px;
	height:58px;
	float:left;
}
.nav2 .navM2 {
	float:left;
	background:#4f8c47;
	height:58px;
}
.nav2 .navM2 a {
	color:#fff;
	font:normal 14px Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.nav2 .navR2 {
	background:url(images/saidBarR2.jpg) no-repeat;
	width:7px;
	height:58px;
	float:left;
}
.nav3 {
	float:right;
}
.nav3 .navL3 {
	background:url(images/saidBarL3.jpg) no-repeat;
	width:7px;
	height:58px;
	float:left;
}
.nav3 .navM3 {
	float:left;
	background:#5ba851;
	height:58px;
	overflow:hidden;
}
.nav3 .navM3 a {
	color:#fff;
	font:normal 14px Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.nav3 .navR3 {
	background:url(images/saidBarR3.jpg) no-repeat;
	width:7px;
	height:58px;
	float:left;
}
#content .contentTop {
	background:url(images/contentT.jpg) no-repeat;
	width:1000px;
	height:19px
}
#content .contentBox {
	background:url(images/contentBox.jpg) repeat-y;
	width:940px;
	padding:15px 30px 30px;
}
#content .contentBox .title {
	font:normal 22px/200% Arial, Helvetica, sans-serif;
	color:#3d6c37;
	border-bottom:solid 1px #8ece86;
}
#content .contentBox .in {
	font:normal 14px/200% Arial, Helvetica, sans-serif;
	color:#000;
	padding:20px;
}
#content .contentBox .in .introText {
	color:#666;
	border-bottom:solid 1px #666;
	font:normal 14px/140% Arial, Helvetica, sans-serif;
	padding:5px 0 15px;
}
.nr1 {
	overflow:hidden;
	display:block;
	clear:both;
	margin:30px auto;
}
.nr1 .textBlock {
	float:left;
}
.nr1 .contentBar1 {
	float:left;
	background:#079abe;
	border-radius:13px 13px 13px 13px;
	border:solid 3px #fff;
	padding:5px 40px;
	margin:0 13px;
}
.nr1 .contentBar1 a {
	color:#fff;
}
.note2 {
	color: #FF6600;
	font-size: 1.4em;
	background: url("images/icon.png") no-repeat 0 9px;
	padding: 3px 3px 3px 25px;
}
.note2 .pClass {
	font:normal 14px/220% Arial, Helvetica, sans-serif;
	color:#333;
}
#content .contentBotton {
	background:url(images/contentB.jpg) no-repeat;
	width:1000px;
	height:11px;
}
/*tab js*/
.tabBar {
	overflow:hidden;
	display:block;
	clear:both;
	margin-top:10px;
	float:left;
}
.mt {
	bottom: -1px;
	overflow: hidden;
	position: relative;
	width:752px;
	z-index: 9;
}
.mt ul {
	float: left;
	overflow: hidden;
}
.mt li {
	border-right: 1px solid #90e9ff;
	display: block;
	float: left;
	position: relative;
}
.mt li .tabactive {
	background: none repeat scroll 0 0 #00ccff;
	border-top: 2px solid #fff;
	height: 24px;
	color:#fff;
}
.mt li a {
	background: url("../images/tabTitleBg.png") repeat-x scroll 0 0 transparent;
	border-left: 1px solid #90e9ff;
	border-top: 1px solid #90e9ff;
	display: inline-block;
	font-size: 14px;
	height: 24px;
	padding: 5px 15px 0;
	text-decoration: none;
}
.reccontent {
	border:solid 1px #90e9ff;
	padding:20px;
}
.noteReccontent {
	border:solid 1px #90e9ff;
	padding:20px;
}
.proD {
	height:350px;
	overflow-y:scroll;
}
.proD li {
	border-bottom:solid 1px #b9f1ff;
	overflow:hidden;
	display:block;
	clear:both;
}
.proD li .pic {
	padding:10px;
}
.proD li .pic img {
	width:150px;
	height:150px;
}
.proD li .intro {
	width:340px;
	height:auto;
	padding:10px;
}
.proD li .details {
	width:160px;
	height:auto;
	padding:10px;
}
.proD1 {
}
.proD1 li {
	border-bottom:solid 1px #b9f1ff;
	overflow:hidden;
	display:block;
	clear:both;
}
.proD1 li .pic {
	padding:10px;
}
.proD1 li .pic img {
	width:150px;
	height:150px;
	border:solid 1px #fff;
}
.proD1 li .intro {
	width:55%;
	height:auto;
	padding:10px;
}
.proD1 li .details {
	width:160px;
	height:auto;
	padding:10px;
}
.proD2 {
	padding:0 40px;
}
.proD2 .pic {
	padding:10px;
}
.proD2 .pic img {
	width:150px;
	height:150px;
	border:solid 1px #fff;
}
.proD2 .intro {
	width:55%;
	height:auto;
	padding:10px;
}
.total {
	margin-top:30px;
}
.total .title {
	margin-left:20px;
}
.under {
	text-decoration:underline;
	padding:0 8px;
	color:#ff7e00;
}
.quick {
	background:#fff0be;
	border:solid 1px #fff;
	margin:15px 0 30px 0;
	padding:15px;
	border-radius:8px 8px 8px 8px;
}
.tableD1 {
	border-collapse:collapse;
}
.tableD1 td {
	border:solid 1px #00b7e5;
	padding:6px 0;
}
.tableD2 {
	border:none;
}
.tableD2 td {
	border:none;
	padding:6px;
}
.tableD3 {
	border:none;
}
.tableD3 td {
	border:solid 3px #fff;
	padding:6px;
}
.btnSO {
	background:#F90;
	border:solid1px #F00;
	color:#FFF;
	border-radius:4px 4px 4px 4px;
	padding:1px 3px;
}
.btnSO a {
	color:#FFF;
}
.btnSO a:hover {
}
.continue {
	margin:20px 0 40px 0;
}
.succed {
	margin:30px 40px;
}
.MoreOptions {
	margin:10px 40px;
}
.create {
	border:solid 1px #00ccff;
}
.create .title {
	height:20px;
	background:#00ccff;
	color:#fff;
	padding:5px 10px;
}
.create .content {
	background:#ecfefc;
	padding:5px;
}
.myPlan {
	margin:15px 0;
}
.myPlan .titleN {
}
.myPlan .titleN .titleNL {
	background:#a5da50;
	float:left;
	padding:3px 20px;
	margin-right:10px;
}
.myPlan .titleN .titleNR {
}
.myPlan .content {
	background:#fff;
	border:solid 1px #a5da50;
	padding:10px;
}
.dateUse {
	background:#ecfefc;
	margin-top:15px;
}
.dateUse .title {
	height:34px;
	background:#3bd8ff;
	border:solid 1px #fff;
	border-radius:6px 6px 6px 6px;
}
.dateUse .titleL {
	float:left;
	padding:7px 0 0 5px;
}
.dateUse .titleR {
	float:left;
	margin:2px 5px;
	float:right
}
.itemsIn {
	padding:10px 5px;
}
.sel {
	padding:0 10px;
}
.sel .titleN {
	height:30px;
	background:#c2fef7;
	padding:3px 10px;
	border:solid 1px #0FF;
}
.sel .selImg img {
	width:80px;
	height:80px;
}
.address {
	background:#fff0be;
	border:solid 1px #fff;
	margin:15px;
	padding:15px;
	border-radius:6px 6px 6px 6px;
}
.address .titleNn {
}
.quick2 {
	background:#fff;
	border:solid 1px #fff;
	margin:15px;
	padding:15px;
	border-radius:13px 13px 13px 13px;
}
.auth {
	padding:5px 15px;
}




/*
----------------------------------------------------------------fancyBox------------------------------------------------------------------*/




@charset "utf-8";
/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
*/
#fancybox-loading {
	position:fixed;
	top:50%;
	left:50%;
	width:40px;
	height:40px;
	margin-top:-20px;
	margin-left:-20px;
	cursor:pointer;
	overflow:hidden;
	z-index:1104;
	display: none;
}
#fancybox-loading div {
	position:absolute;
	top:0;
	left:0;
	width:40px;
	height:480px;
	background-image:url('../images/fancybox.png');
}
#fancybox-overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	z-index:1100;
	display:none;
}
#fancybox-tmp {
	padding:0;
	margin:0;
	border:0;
	overflow:auto;
	display:none;
}
#fancybox-wrap {
	position:absolute;
	top:0;
	left:0;
	padding:20px;
	z-index:1101;
	outline:none;
	display:none;
}
#fancybox-outer {
	position:relative;
	width:100%;
	height:100%;
	background:#fff;
}
#fancybox-content {
	width:0;
	height:0;
	padding:0;
	outline:none;
	position:relative;
	overflow:hidden;
	z-index:1102;
	border:0px solid #fff;
}
#fancybox-hide-sel-frame {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:transparent;
	z-index:1101;
}
#fancybox-close {
	position:absolute;
	top:-15px;
	right:-15px;
	width:30px;
	height:30px;
	background:transparent url('../images/fancybox.png') -40px 0px;
	cursor:pointer;
	z-index:1103;
	display:none;
}
#fancybox-error {
	color:#444;
	font:normal 12px/20px Arial;
	padding:14px;
	margin:0;
}
#fancybox-img {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	border:none;
	outline:none;
	line-height:0;
	vertical-align:top;
}
#fancybox-frame {
	width:100%;
	height:100%;
	border:none;
	display:block;
}
#fancybox-left, #fancybox-right {
	position:absolute;
	bottom:0px;
	height:100%;
	width:35%;
	cursor:pointer;
	outline:none;
	background:transparent url('../images/blank.gif');
	z-index:1102;
	display:none;
}
#fancybox-left {
	left:0px;
}
#fancybox-right {
	right:0px;
}
#fancybox-left-ico, #fancybox-right-ico {
	position:absolute;
	top:50%;
	left:-9999px;
	width:30px;
	height:30px;
	margin-top:-15px;
	cursor:pointer;
	z-index:1102;
	display:block;
}
#fancybox-left-ico {
	background-image:url('../images/fancybox.png');
	background-position:-40px -30px;
}
#fancybox-right-ico {
	background-image:url('../images/fancybox.png');
	background-position:-40px -60px;
}
#fancybox-left:hover, #fancybox-right:hover {
	visibility:visible; /* IE6 */
}
#fancybox-left:hover span {
	left:20px;
}
#fancybox-right:hover span {
	left:auto;
	right:20px;
}
.fancybox-bg {
	position:absolute;
	padding:0;
	margin:0;
	border:0;
	width:20px;
	height:20px;
	z-index:1001;
}
#fancybox-bg-n {
	top:-20px;
	left:0;
	width:100%;
	background-image:url('../images/fancybox-x.png');
}
#fancybox-bg-ne {
	top:-20px;
	right:-20px;
	background-image:url('../images/fancybox.png');
	background-position:-40px -162px;
}
#fancybox-bg-e {
	top:0;
	right:-20px;
	height:100%;
	background-image:url('../images/fancybox-y.png');
	background-position:-20px 0px;
}
#fancybox-bg-se {
	bottom:-20px;
	right:-20px;
	background-image:url('../images/fancybox.png');
	background-position:-40px -182px;
}
#fancybox-bg-s {
	bottom:-20px;
	left:0;
	width:100%;
	background-image:url('../images/fancybox-x.png');
	background-position:0px -20px;
}
#fancybox-bg-sw {
	bottom:-20px;
	left:-20px;
	background-image:url('../images/fancybox.png');
	background-position:-40px -142px;
}
#fancybox-bg-w {
	top:0;
	left:-20px;
	height:100%;
	background-image:url('../images/fancybox-y.png');
}
#fancybox-bg-nw {
	top:-20px;
	left:-20px;
	background-image:url('../images/fancybox.png');
	background-position:-40px -122px;
}
#fancybox-title {
	font-family:Helvetica;
	font-size:12px;
	z-index:1102;
}
.fancybox-title-inside {
	padding-bottom:10px;
	text-align:center;
	color:#333;
	background:#fff;
	position:relative;
}
.fancybox-title-outside {
	padding-top:10px;
	color:#fff;
}
.fancybox-title-over {
	position:absolute;
	bottom:0;
	left:0;
	color:#FFF;
	text-align:left;
}
#fancybox-title-over {
	padding:10px;
	background-image:url('../images/fancy_title_over.png');
	display:block;
}
.fancybox-title-float {
	position:absolute;
	left:0;
	bottom:-20px;
	height:32px;
}
#fancybox-title-float-wrap {
	border:none;
	border-collapse:collapse;
	width:auto;
}
#fancybox-title-float-wrap td {
	border:none;
	white-space:nowrap;
}
#fancybox-title-float-left {
	padding:0 0 0 15px;
	background:url('../images/fancybox.png') -40px -90px no-repeat;
}
#fancybox-title-float-main {
	color:#FFF;
	line-height:29px;
	font-weight:bold;
	padding:0 0 3px 0;
	background:url('../images/fancybox-x.png') 0px -40px;
}
#fancybox-title-float-right {
	padding:0 0 0 15px;
	background:url('../images/fancybox.png') -55px -90px no-repeat;
}
/* IE6 */
.fancybox-ie6 #fancybox-close {
	background:transparent;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_close.png', sizingMethod='scale');
}
.fancybox-ie6 #fancybox-left-ico {
	background:transparent;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_nav_left.png', sizingMethod='scale');
}
.fancybox-ie6 #fancybox-right-ico {
	background:transparent;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_nav_right.png', sizingMethod='scale');
}
.fancybox-ie6 #fancybox-title-over {
	background:transparent;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_title_over.png', sizingMethod='scale');
	zoom:1;
}
.fancybox-ie6 #fancybox-title-float-left {
	background:transparent;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_title_left.png', sizingMethod='scale');
}
.fancybox-ie6 #fancybox-title-float-main {
	background:transparent;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_title_main.png', sizingMethod='scale');
}
.fancybox-ie6 #fancybox-title-float-right {
	background:transparent;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_title_right.png', sizingMethod='scale');
}
.fancybox-ie6 #fancybox-bg-w, .fancybox-ie6 #fancybox-bg-e, .fancybox-ie6 #fancybox-left, .fancybox-ie6 #fancybox-right, #fancybox-hide-sel-frame {
height:expression(this.parentNode.clientHeight + "px");
}
#fancybox-loading.fancybox-ie6 {
	position:absolute;
	margin-top:0;
top:expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}
#fancybox-loading.fancybox-ie6 div {
	background:transparent;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_loading.png', sizingMethod='scale');
}
/* IE6, IE7, IE8 */
.fancybox-ie .fancybox-bg {
	background:transparent !important;
}
.fancybox-ie #fancybox-bg-n {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_shadow_n.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-ne {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_shadow_ne.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-e {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_shadow_e.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-se {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_shadow_se.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-s {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_shadow_s.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-sw {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_shadow_sw.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-w {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_shadow_w.png', sizingMethod='scale');
}
.fancybox-ie #fancybox-bg-nw {
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/fancy_shadow_nw.png', sizingMethod='scale');
}
/*---------------------------------------------------------------------nav tabs--------------------------------------------------------------------*/

/*浮动按钮菜单*/

.navMenu {
	float: left;
	left: 0;
	position: relative;
	width: 19%;
}
.ml {
	background-color: #00CCFF;
	padding: 2px;
	width: 15px;
	position: absolute;
	color: #fff;
	right: 29px;
	font-weight: bold;
	cursor:pointer;
}
.ml a {
	background-color: #00CCFF;
	padding: 2px;
	width: 15px;
	position: absolute;
	color: #fff;
	right: 20px;
	font-weight: bold;
	display:block
}
.ml:hover {
	background-color: #FF6600;
	text-decoration:none;
}
.navMenu .nav {
}
.navMenu .nav .noActive {
	background-color:rgb(193, 213, 218);
	/*background-color: #00CCFF;*/
    border: 4px solid #FFFFFF;
	border-radius: 13px 13px 13px 13px;
	margin: 15px 0;
	padding: 10px;
	position: relative;
	text-align: left;
 *padding: 4px;
 *margin:8px 0;
}
.navMenu .nav li {
	background-color:rgb(193, 213, 218);
	background-color: #00CCFF;
	border: 4px solid #FFFFFF;
	border-radius: 13px 13px 13px 13px;
	margin: 15px 0;
	padding: 10px;
	position: relative;
	text-align: left;
 *padding: 4px;
 *margin:8px 0;
}
.navMenu .nav li a {
	color: #fff;
	padding-right: 4px;
	padding-left: 20px;
*padding:10px;
	font-size: 1.5em;
 *padding: 8px 8px 8px 20px;
}
.navMenu .nav li a:hover {
	text-decoration:none;
}
.navMenu .nav .sel a {
	color: #0099FF;
*padding:8px 8px 8px 20px;
}
.s1a {
	background:url("images/shuzi.png") no-repeat scroll 0 0 transparent;
}
.s2a {
	background:url("images/shuzi.png") no-repeat scroll 0 -25px transparent;
*background:url("images/shuzi.png") no-repeat scroll 0 -13px transparent;
}
.s3a {
	background:url("images/shuzi.png") no-repeat scroll 0 -50px transparent;
*background:url("images/shuzi.png") no-repeat scroll 0 -39px transparent;
}
.s4a {
	background:url("images/shuzi.png") no-repeat scroll 0 -75px transparent;
*background:url("images/shuzi.png") no-repeat scroll 0 -65px transparent;
}
.s5a {
	background:url("images/shuzi.png") no-repeat scroll 0 -100px transparent;
*background:url("images/shuzi.png") no-repeat scroll 0 -91px transparent;
}
.s6a {
	background:url("images/shuzi.png") no-repeat scroll 0 -125px transparent;
*background:url("images/shuzi.png") no-repeat scroll 0 -117px transparent;
}
.s7a {
	background:url("images/shuzi.png") no-repeat scroll 0 -150px transparent;
*background:url("images/shuzi.png") no-repeat scroll 0 -143px transparent;
}
.s8a {
	background:url("images/shuzi.png") no-repeat scroll 0 -175px transparent;
*background:url("images/shuzi.png") no-repeat scroll 0 -169px transparent;
}
.s9a {
	background:url("images/shuzi.png") no-repeat scroll 0 -200px transparent;
*background:url("images/shuzi.png") no-repeat scroll 0 -195px transparent;
}
.s10a {
	background:url("images/shuzi.png") no-repeat scroll 0 -225px transparent;
*background:url("images/shuzi.png") no-repeat scroll 0 -221px transparent;
}
.s1 {
	background:url("images/shuzi.png") no-repeat scroll 0 -252px transparent;
*background:url("images/shuzi.png") no-repeat scroll 0 -242px transparent;
}
.s2 {
	background:url("images/shuzi.png") no-repeat scroll 0 -277px transparent;
}
.s3 {
	background:url("images/shuzi.png") no-repeat scroll 0 -302px transparent;
}
.s4 {
	background:url("images/shuzi.png") no-repeat scroll 0 -327px transparent;
}
.s5 {
	background:url("images/shuzi.png") no-repeat scroll 0 -352px transparent;
}
.s6 {
	background:url("images/shuzi.png") no-repeat scroll 0 -377px transparent;
}
.s7 {
	background:url("images/shuzi.png") no-repeat scroll 0 -402px transparent;
}
.s8 {
	background:url("images/shuzi.png") no-repeat scroll 0 -427px transparent;
}
.s9 {
	background:url("images/shuzi.png") no-repeat scroll 0 -452px transparent;
}
.s10 {
	background:url("images/shuzi.png") no-repeat scroll 0 -477px transparent;
}
.navMenu .nav .sel {
	background: none repeat scroll 0 0 #DDFFFB;
	border-radius: 13px 13px 13px 13px;
	color: #000000;
	display: block;
	padding: 10px;
	position: relative;
	width: 84%;
	z-index: 2;
 *position: static;
 *display: block;
 *padding: 0 10px;
}
/*结束浮动按钮菜单*/









.acLeft {
	width:37%;
	height:400px;
	padding:10px 0;
}
.acBanner img {
	width:300px;
}
.acRight {
	padding:10px 20px;
}
.lib_Menubox_sx {
	overflow:hidden;
	clear:both;
	display:block;
}
.lib_Menubox_sx li {
	float:left;
	padding:3px 5px;
	border:solid 1px #333;
	margin:0 3px;
}
.lib_Menubox_sx .hover {
	border:solid 1px #999;
	background:#333;
	color:#FFF;
}
/*navTabs*/

 .ui-tabs-vertical {
	width: 55em;
}
.ui-tabs-vertical .ui-tabs-nav {
	padding: .2em .1em .2em .2em;
	float: left;
	width: 12em;
}
.ui-tabs-vertical .ui-tabs-nav li {
	clear: left;
	width: 100%;
	border-bottom-width: 1px !important;
	border-right-width: 0 !important;
	margin: 0 -1px .2em 0;
}
.ui-tabs-vertical .ui-tabs-nav li a {
	display:block;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
	padding-bottom: 0;
	padding-right: .1em;
	border-right-width: 1px;
	border-right-width: 1px;
}
.ui-tabs-vertical .ui-tabs-panel {
	padding: 1em;
	float: right;
	width: 40em;
}
